In [3]:
import pandas as pd
import numpy as np

In [2]:
ruta = '../data/processed/dataset_limpio.csv'
df = pd.read_csv(ruta)

df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Desconocido,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Desconocido,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

## media de años

In [7]:
print(f'Ordenar el Arreglo: {np.sort(df.duration)}')

Ordenar el Arreglo: ['1 Season' '1 Season' '1 Season' ... '99 min' '99 min' '99 min']

In [12]:

#print(f'Media de años: {np.median(df.duration)}')

df.duration.head()

dtype('O')

In [15]:
df.duration.dtype

dtype('O')

In [17]:
#Debes sacar el número del texto:

df["duration_num"] = df["duration"].str.extract(r'(\d+)').astype(float)

df.duration_num

0        90.0
1         2.0
2         1.0
3         1.0
4         2.0
        ...
8802    158.0
8803      2.0
8804     88.0
8805     88.0
8806    111.0
Name: duration_num, Length: 8807, dtype: float64

In [18]:
#Quitar valores nulos (si existen)
df["duration_num"].isnull().sum()

np.int64(0)

## Moda

In [21]:
moda = df.duration_num.mean()
moda

np.float64(69.82343590325877)

In [22]:
df.describe()

       release_year  duration_num
count   8807.000000   8807.000000
mean    2014.180198     69.823436
std        8.819312     50.822055
min     1925.000000      1.000000
25%     2013.000000      2.000000
50%     2017.000000     88.000000
75%     2019.000000    106.000000
max     2021.000000    312.000000

In [28]:
#desviacion estandar

print(f'Media = {np.mean(df.duration_num)}, s = {np.std(df.duration_num)}')

Media = 69.82343590325877, s = 50.819169529733436